<div class="ASWrapper">
  <div class="ASUserInfo">
    即時交易系統即將推出！
    <br>
    敬請期待！
    <!--
    <input class="form-control" type="text" ng-model="inputUsername" />
    <input class="form-control" type="text" ng-model="inputPassword" />
    <button class="btn btn-default" ng-click="login()">Login</button>
    <button class="btn btn-default" ng-show="false" ng-click="logout()">Logout</button>
    <button class="btn btn-default" ng-click="regist(inputUsername, inputPassword)">Register</button>
    <br>
    <button class="btn btn-primary">Login with Facebook</button>
    {{username}}
  -->
  </div>
  <div class="ASNotification">
    暫時沒有通知
  </div>
</div>