<center>
  <br>
  <object type="application/x-shockwave-flash" height="378" width="620" id="live_embed_player_flash" data="http://www.twitch.tv/widgets/live_embed_player.swf?channel=ming_tv" bgcolor="#000000" style="display: inline-block"><param name="allowFullScreen" value="true" /><param name="allowScriptAccess" value="always" /><param name="allowNetworking" value="all" /><param name="movie" value="http://www.twitch.tv/widgets/live_embed_player.swf" /><param name="flashvars" value="hostname=www.twitch.tv&channel=ming_tv&auto_play=true&start_volume=25" /></object>

  <iframe frameborder="0" scrolling="no" src="http://twitch.tv/ming_tv/chat?popout=" height="378" width="350" style="display: inline-block"></iframe>
  <br>
  <a href="http://www.twitch.tv/ming_tv" style="padding:2px 0px 4px; display:inline-block; width:345px; font-weight:normal; font-size:10px;text-decoration:underline; text-align:center;">在Twitch.tv上面看 (HD)</a>
</center>