<center>
  <h1>本工具提供的比率暫時只適用於<b>國際版</b><br>台版比率請於底部填寫交易價格</h1>
  <h1>
    <input class="CCCurrencyAmount" type="number" ng-model="currencyAmountA" ng-change="updateFrom('A')"/>x
    <img ng-src="img/currency/78px/{{selectedCurrencyA.name}}.png" />
    =
    <input class="CCCurrencyAmount" type="number" ng-model="currencyAmountB" ng-change="updateFrom('B')"/>x
    <img ng-src="img/currency/78px/{{selectedCurrencyB.name}}.png" />
  </h1>
  <hr>
  <form class="currencySelector">
    <span class="CSItem" ng-repeat="currency in currencyList | orderBy:'cRate'">
      <input id="CS{{currency.name}}A" name="selectedCurrencyA" class="CSCB" type="radio" ng-value="currency" ng-model="$parent.selectedCurrencyA" ng-change="updateFrom('B')"/>
      <label for="CS{{currency.name}}A" style="background-image: url('img/currency/40px/{{currency.name}}.png')"></label>
    </span>
  </form>
  <div class="currencySelectorColumn"></div>
  <form class="currencySelector">
    <span class="CSItem" ng-repeat="currency in currencyList | orderBy:'cRate'">
      <input id="CS{{currency.name}}B" name="selectedCurrencyB" class="CSCB" type="radio" ng-value="currency" ng-model="$parent.selectedCurrencyB" ng-change="updateFrom('A')"/>
      <label for="CS{{currency.name}}B" style="background-image: url('img/currency/40px/{{currency.name}}.png')"></label>
    </span>
  </form>

  <br>
  <br>
  <br>
  <table class="currencyRateTable">
    <tr><td class="alignToLeft" colspan="16">兌換比率(混沌石):</td></tr><tr>
    <td ng-repeat="currency in currencyList | orderBy:'cRate'" ng-hide="currency.name == 'Chaos_Orb'">
      <img ng-src="img/currency/40px/{{currency.name}}.png" width=30 height=30/>
    </td>
    </tr><tr>
    <td ng-repeat="currency in currencyList | orderBy:'cRate'" ng-hide="currency.name == 'Chaos_Orb'">
      <input class="currencyRateValueInput" type="text" ng-model="currency.cRate" ng-change="updateFrom(currency.name)"/>
    </td>
    </tr><tr><td class="alignToLeft" colspan="16">(兌換比率參考poeex.info，最後更新2014/8/12)</td></tr>
  </tr></table>


  <br>
  <iframe src="https://docs.google.com/forms/d/1EU2z4daKtjTnYqNCYKTVC8QVN-6fnxM_l0pFDkFC6Jw/viewform?embedded=true" width="500" height="500" frameborder="0" marginheight="0" marginwidth="0">載入中…</iframe>

</center>