<ul class="list-unstyled">
  <li class="navbarItem" ng-class="{navbarItemVisiting: visitingDash}" ui-sref="dash"><i class="fa fa-home fa-fw"></i>&nbsp;首頁</li>
  <li class="navbarItem" ng-class="{navbarItemVisiting: visitingBuildList}" ui-sref="buildList"><i class="fa fa-child fa-fw"></i>&nbsp;流派Build分類器</li>
  <li class="navbarItem-disable"><i class="fa fa-institution fa-fw"></i>&nbsp;即時交易配對</li>
  <li class="navbarItem" ng-class="{navbarItemVisiting: visitingCurrencyConverter}"  ui-sref="currencyConverter"><i class="fa fa-cubes fa-fw"></i>&nbsp;通貨換算器</li>
  <li class="navbarItem" ng-class="{navbarItemVisiting: visitingWalkthrough}" ui-sref="walkthrough"><i class="fa fa-book fa-fw"></i>&nbsp;任務攻略</li>
  <li class="navbarItem" onclick="window.open('http://accorddb.no-ip.org/poetw/quest.php?l=1')"><i class="fa fa-gift fa-fw"></i>&nbsp;任務寶石獎勵<labal class="navbarItemInfo">POE中文資料庫<i class="fa fa-external-link fa-fw"></i></labal></li>
  <li class="navbarItem" ng-class="{navbarItemVisiting: visitingChatChannel}" ui-sref="chatChannel"><i class="fa fa-users fa-fw"></i>&nbsp;交流頻道</li>
  <li class="navbarItem" ng-class="{navbarItemVisiting: visitingBroadcast, navbarItemBroadcastOnline: isBroadcastOnline}" ui-sref="broadcast"><i class="fa fa-gamepad fa-fw"></i>&nbsp;教學實況<labal class="navbarItemInfoDark">{{broadcastTitle}}</labal></li>
</ul>